<a href="https://colab.research.google.com/github/henryspg/DS-Unit-1-Sprint-2-Statistics/blob/master/DS16_Unit_1_Sprint_Challenge_2_henry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# TODO

In [0]:
import pandas as pd
import numpy as np

In [6]:
from google.colab import files

uploaded = files.upload()      ###  RUN first,  and then  Chese FILES !!!

In [37]:
#  Load data,  
# check on txt file. Found some 'unwanted string' which is '?'

colnames=['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'class']

df = pd.read_csv('crx.data', names=colnames, na_values='?')
print(df.shape)
df.dtypes

(690, 16)

A1        object
A2       float64
A3       float64
A4        object
A5        object
A6        object
A7        object
A8       float64
A9        object
A10       object
A11        int64
A12       object
A13       object
A14      float64
A15        int64
class     object
dtype: object

In [38]:
# Checking NaN
df.isnull().sum()

A1       12
A2       12
A3        0
A4        6
A5        6
A6        9
A7        9
A8        0
A9        0
A10       0
A11       0
A12       0
A13       0
A14      13
A15       0
class     0
dtype: int64

In [0]:
#  check some columns
# df['A15'].value_counts()

In [40]:
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 class
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0     +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560     +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824     +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3     +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0     +

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [147]:
# Replace - & +   by  0 & 1

df=df.replace({'+': 1, '-': 0})
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15  class
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0      1
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560      1
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824      1
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3      1
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0      1

In [0]:
# df.isnull().sum()

In [115]:
#  Use crosstab  to show distrin=butions

# ct = pd.crosstab(df['class'], df['A1'])
ct1 = pd.crosstab(df['A1'], df['class'])
ct5 = pd.crosstab(df['A5'], df['class'])
ct9 = pd.crosstab(df['A9'], df['class'])

print(ct1)
print()
print(ct5)
print()
print(ct9)

class    0    1
A1
a      112   98
b      262  206

class    0    1
A5
g      263  256
gg       0    2
p      118   45

class    0    1
A9
f      306   23
t       77  284

In [0]:
# # pd.crosstab(index=df['A15'], columns=df['class'])
# pvt = pd.pivot_table(df, index=['A1', 'A5','class'], columns='A9', values='A15', aggfunc='mean')
# pvt

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is extremely different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

In [0]:
# TODO
from scipy import stats

In [0]:
# continuous columns: A2,3,8,11,14,15
#  When crosstab is applied against class, Only Column A2 & A3 have >5 rows

In [185]:
# Seperate mean of  - & +  & total  for A2

dfA2 = df['A2'].dropna()
df1A2 = df['A2'].loc[df['class']==1].dropna()
df0A2 = df['A2'].loc[df['class']==0].dropna()

print(dfA2.mean())
print(df0A2.mean())
print(df1A2.mean())

31.56817109144546
29.80823056300268
33.7204918032787

In [186]:
#  Check t-test  for class= +  on column A2  with mean = 30

print(stats.ttest_1samp(dfA2, 30))
print(stats.ttest_1samp(df0A2, 30))
print(stats.ttest_1samp(df1A2, 30))

Ttest_1sampResult(statistic=3.4147171462254287, pvalue=0.0006765847547221454)
Ttest_1sampResult(statistic=-0.3391871318424055, pvalue=0.7346601561931099)
Ttest_1sampResult(statistic=5.0723979895599784, pvalue=6.846405252192291e-07)

T test  on A2 has a big T-stats,

Take another column:  A8

In [189]:
dfA8 = df['A8'].dropna()
df1A8 = df['A8'].loc[df['class']==1].dropna()
df0A8 = df['A8'].loc[df['class']==0].dropna()

print(dfA8.mean())
print(df0A8.mean())
print(df1A8.mean())

2.2234057971014476
1.2579242819843346
3.427899022801302

In [191]:
#  Check t-test  for class= +  on column A8  with mean = 2

print(stats.ttest_1samp(dfA8, 2))
print(stats.ttest_1samp(df0A8, 2))
print(stats.ttest_1samp(df1A8, 2))

Ttest_1sampResult(statistic=1.753583379807583, pvalue=0.07994654977294181)
Ttest_1sampResult(statistic=-6.848781261441644, pvalue=2.9881160249387745e-11)
Ttest_1sampResult(statistic=6.071359754828603, pvalue=3.751628663000898e-09)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*

## Part 4 - Bayesian vs Frequentist Statistics

Using a minimum of 2-3 sentences, give an explanation of Bayesian and Frequentist statistics, and then compare and contrast these two approaches to statistical inference.

*Your words here!*

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

## Part 4:

Give an extra awesome explanation of Bayesian vs Frequentist Statistics. Maybe use code or visualizations, or any other means necessary to show an above average grasp of these high level concepts.

In [0]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.